.form {
  position: relative;
  border-radius: var(--radius-lg);
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 51, 204, 0.10);
  padding: 32px;
  max-width: 1300px;
  margin: 0 auto;

  @media (max-width: 480px) {
    padding: 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;

    @media (max-width: 480px) {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }

  &__imageWrapper {
    position: relative;
    bottom: -30px;
    right: -30px;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: var(--radius-lg);
    overflow: hidden;
    display: block;

    @media (max-width: 1280px) {
      right: -18%;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__form {
    max-width: 540px;
    width: 100%;

    @media (max-width: 1280px) {
      max-width: 484px;
    }
    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }
}