.datePicker {
  height: 45px;
  width: 100%;
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-df);
  padding: 0 12px;
  color: var(--color-text-primary);
  font-size: 14px;

  &::placeholder {
    color: var(--color-text-primary);
  }

  &.error {
    border-color: red;
  }
}

.react-datepicker-time__header {
  white-space: break-spaces;
  font-size: 13px;
}