.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: var(--radius-df);
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 6px 12px;
  cursor: pointer;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.9;
  }

  &--default {
    background: var(--color-primary);
    color: white;
  }

  &--outlined {
    border: 1px solid var(--color-primary);
    background: transparent;
    color: var(--color-primary);
  }
  &[disabled] {
    pointer-events: none;
    background: grey;
  }
}