.form-step {
  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 24px 0;
  }
  &__constructor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}