.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 32px;
  align-items: center;

  @media (max-width: 1280px) {
    margin-top: 24px;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  &__buttons {
    display: flex;
    gap: 12px;
  }

  &__button {
    flex: 1 1
  }

  &__buttonBack {
    width: 42px;
  }

  &__disclaimer {
    font-size: 11px;
    color: var(--color-text-secondary);
  }
}