.input {
  height: 45px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-df);
  padding: 0 12px;
  input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    color: var(--color-text-primary);
    font-size: 14px;

    &::placeholder {
      color: var(--color-text-primary);
    }
  }

  &.error {
    border-color: red;
  }
}