.textarea {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-df);
  resize: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 16px 8px;
  height: 102px;

  &::placeholder {
    color: var(--color-text-primary);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
  }

  &.error {
    border-color: red;
  }
}